# Verification

Verification means ...

You can find futher information about Verification [here](../T3./.md)
